<h1>Welcome to the Ruby Address Book!</h1>
<h4>a web app to orgainze all of your contacts!<h4>
<a href="/contacts/add" >Click here to add contact</a>
<br>
<a href="/contacts">Click here to view your contacts</a>
